
html,body{
	width: 100%;
	height: 100%;
}
html{
	font-size: 62.5%;
	
}
body,h1{
	margin: 0;
	padding: 0;
	overflow:hidden;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 70%;
	background: #e6e6e6;
}
 
header .banner{
 
	width: 250%;
	height:65%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0 0 100% 100%;
	background: url(../img/1.png),linear-gradient(45deg,#020031 30%,#58DCDF 130%); 
/*	background: url(../img/1.png),linear-gradient(45deg,#001311 40%,#018172 90%); */
 
}
header .banner .map{
	width: 40%;
	margin: 0 auto;

}
section {
	width: 100%;
	height: 30%;
 	position: relative;
	border-radius: 50%;
	background: #fff;

}
.icon {
   height: 100%;
   width: 40%;
   transform: translate(-50%,-10%);
   	margin-left: 50%;
 /*  margin-left: -50%;*/
  /* vertical-align: -0.15em;*/
  /* fill: currentColor;*/
   overflow: hidden;
}
/*section .tabs .hximg{
	position: absolute;
 	top: -1.5%;
	width: 40%;
	height: 30px;
	z-index: 99999;
}
.tabs .hximg .rimg{
	width: 40%;
	float: right;
	transform: rotate(2deg);

}
.tabs .hximg .limg{
 
	width: 40%;
	float: left;
	transform: rotate(-2deg);
 

}*/
section .tabs{
	width:100%;
	height: 100%;
 
}
#otabs{
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	background: #e6e6e6;

}
#otabs ul{
	width: 100%;
	height:100%;
	padding: 1rem 1.5rem;
	box-sizing: border-box;
	position: absolute;
	top: -10rem;
}
#otabs li {
	list-style: none;
	width: 30%;
	height: 43%;
	background: #fff;
	border-radius: .6rem;
	margin: 1.5%;
	float: left;
	box-sizing: border-box;
	position: relative;
}
 
#otabs span {
	 
	font-size: 1.2rem;
	color: #999;
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 6%;
	pointer-events: none;
 
}
.tabs i{
 	/*color: #2D6F89;
 	color: #1a6583;
 	color:  #099598; */
	font-size: 4rem;
    margin-left: 50%;
    position: absolute;
    left: 0;	
    transform: translate(-50%,20%);
    z-index: 99;
    pointer-events: none;
   
}
.i-logo img{
	margin-left: 50%;
	transform: translateX(-50%);
	height: 100%;
}
#otabs .i-logo {
    pointer-events: none;
    cursor: default;
    
}



/*
.logo{
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-49%,-50%);

}
.logobg{
	width: 100%;
	position: relative;
	margin-top: -15rem;	
}
.logobg img{
	width: 60%;
	position: absolute;
	top:-1.8rem;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.3;	
}*/
/*swiper*/
  section>.swiper-container {
        width: 100%;
      /*  height: 60rem; */      
    }
/*    .swiper-slide {
        text-align: center;
        font-size: 18px;
        line-height: 300px;
    }*/
 
 .swiper-pagination-progress .swiper-pagination-progressbar{
 	color: red;
 	background: red;
 }


/*____________培训*/

/* .px-header{
	width: 100%;
	height: 100%;
	background: #018172;
}*/
/* 
 .px-header .hd{
	width: 100%;
	height: 14%;
	 
	background: linear-gradient(45deg,#182221 30%,#25403b 130%);
	position: fixed;
	top: 0;
	z-index: 99;
	box-shadow: 1rem 1rem 1rem #1D2E2B;
}*/ 
.px-header {
	height: 100%;
    background: linear-gradient(45deg,#111 50%,#2d574f 130%);

}
.px-header .hd h2{
	padding: 0;
	margin: 0;
	color: #fff;
	text-align: center;
	line-height: 3.5rem;
	letter-spacing: .1rem;
	font-size: 1.8rem
}
.px-header .hd span{
	float: left;
	color: #efefef;
	line-height: 3rem;
	margin-left: 1.5rem;

}
.px-header .hd {
	border-radius: 0 0 1rem 1rem;
	width:100%;
	height: 3rem;
	background: #059d8b;
}
 
.px-header>.swiper-container {
 
    width: 100%;
 


}
.px-header .swiper-wrapper{
 
 	width: 94%;
 	height: 400px;
  	padding-top: 70rem;
 	margin: 0 auto;
 
}
.px-header .swiper-slide{
	border-radius:0 2rem 2rem 2rem;
	width: 100%;
	height: 25rem;
	background: #eee;
	padding-top: .5rem;
	box-sizing: border-box;
	font-size: 5rem;

}
.px-header .slide-b1{
	background: #2fc6f3;
}
.px-header .slide-b2{
	background: #FFCC66;
}
.px-header .slide-b3{
	background: #FF9966;
}
.px-header .slide-b4{
	background: #FF6666;
}
.px-header .slide-b5{
	background: #b3db75;
}
.px-header .slide-b6{
	background: #e05782;
}
.px-header .slide-b7{
	background: #ae8bd1;
}
.px-header .slide-b8{
	background: #27be83;
}
.px-header .slide-b9{
	background: #9999FF;
}
.px-header .slide-b10{
	background: #9171f8;
}
.px-header .slide-box{
	background: #fff;
	border-radius: 2rem;
	width: 97%;
	height: 97%;
	margin: 0 auto;
}


.px-header .swiper-slide>span{
	display: block;
	position: absolute;
	top: -12%;
	width: 20%;
	height: 12%;
	border-radius:1.3rem 1.3rem 0 0;
	background: inherit;
	font-size: 3rem;
}






